@use "../variables/variables.scss" as *;

.product-detail-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .product-detail-wrapper {
    display: flex;
    gap: 10%;
    padding: 5%;
    margin: 0 5%;
    background-color: $pale-purple;
    min-height: 300px;
    border-radius: 18px;
    align-items: center;

    .image-wrapper {
      height: 350px;
      width: 400px;

      .image {
        max-height: 350px;
        max-width: 400px;
      }
    }

    .product-details {
      display: flex;
      flex-direction: column;
      justify-content: center;

      p,
      h3 {
        margin: 0;
      }

      .category {
        margin-bottom: 10px;
      }

      .title {
        margin-bottom: 20px;
      }

      .description {
        margin-bottom: 20px;
      }

      .price {
        margin-bottom: 20px;
        font-size: 18px;
        color: $lapis-lazuli;
        font-weight: bold;
      }

      h6 {
        margin: 15px 0;
      }
    }
  }
}
