@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Diplomata&display=swap");

$cambridge-blue: #9ebc9e;
$charcoal: #363d45;
$jasmine: #face75;
$lapis-lazuli: #08659b;
$pale-purple: #e8d7ff;
$nyanza: #e4fde1;

$title-font: "Diplomata", serif;
$body-font: "Bodoni Moda", serif;

$box-shadow-values: 0 0 10px $cambridge-blue;
